.form {
  display: flex;
  flex-direction: column;
  background-color: #817ca5;
  max-width: 25rem;
  min-height: 28rem;
  border-radius: 20px;
  padding: 40px 20px;
  margin-block-end: 5rem;

  > button {
    margin-block-start: auto;
    border-color: transparent;
    height: 3.75rem;
    padding: 16px 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;

    &:disabled {
      background-color: #a39fc1;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      &:last-child {
        margin-block-end: 2.5rem;
      }
      + li {
        margin-block-start: 2.5rem;
      }
      label {
        text-transform: capitalize;
        color: white;
        display: block;
        font-family: "Inter", sans-serif;
        font-size: 0.87rem;
        line-height: 1.14;
      }
    }
  }
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.2em;

  td:first-of-type {
    color: #cecaeb;
    width: 50%;
    text-transform: capitalize;
  }
  td:last-of-type {
    color: white;
    font-weight: bold;
    width: 50%;
    text-align: right;
  }
}
