.breadcrumbs {
  margin: 0;
  // margin-block-start: -2rem;
  // margin-inline-start: 4rem;
  list-style-type: none;

  > li {
    font-size: 1rem;
    color: #817ca5; // TODO use variables
    padding-inline-start: 1ch;
    & + li {
      margin-block-start: 1.5rem;
    }
  }
  > li.current {
    &::marker {
      content: url("../assets/images/breadCrumpCurrent.svg");
    }
  }
  > li.upcoming {
    &::marker {
      content: url("../assets/images/breadCrumpUpcoming.svg");
    }
  }
  > li.completed {
    &::marker {
      content: url("../assets/images/breadCrumpCompleted.svg");
    }
  }
}
