.label {
  display: block;
  margin-block-end: 0.5rem;
  color: white;
  font-family: Inter, sans-serif;
}

.popover {
  background-color: white;
  width: var(--trigger-width);
  height: 12.5rem;
  overflow-y: scroll;
}

.button {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  background-color: white;
  color: #413c5f;
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  border: 0;
  margin-block-end: 0.5rem;

  *:last-child {
    margin-left: auto;
  }
}

.item {
  font-family: Inter, sans-serif;
  color: #413c5f;
  background-color: white;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;

  &:has(.selectedItem) {
    background-color: #f6f4ff;
  }

  &:hover {
    outline: none;
    background-color: #f6f4ff;
  }
}
.selectedItem {
  font-weight: 600;
  margin-inline-end: 0.5rem;
}

.helpText {
  color: #da2121;
}
