.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}
.header {
  grid-area: header;
  font-family: "Inter", sans-serif;
  margin: 4.5rem 0;
  > h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
  > h2 {
    color: #817ca5; // TODO use variables
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    margin-block-start: 1rem;
    text-align: center;
  }
}

.sidebar {
  margin-block-start: -2rem;
  padding-inline-start: 4rem;
}
