:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #fed330;
  padding: 20px;
}
article {
  background-color: #20bf6b;
  padding: 20px;
}
aside {
  background-color: #45aaf2;
}
footer {
  padding: 20px;
  background-color: #fd9644;
}
